aiofiles
aiohttp
asyncio
apscheduler
bard
bing_image_downloader
beautifulsoup4
pycountry
deepai
dnspython
emojis
Faker
ffmpeg-python
future==0.18.3
gitpython
google==3.0.0
gpytranslate
gtts
hachoir
heroku3
httpx
kurigram==2.2.6
lexica-api==1.5.1
motor
numpy
openai==0.28.0
opencv-python
pillow==9.5.0
psutil
pyfiglet
pytz
py-yt
py-tgcalls==0.9.7
pykeyboard
pyshorteners
python-dotenv
pyyaml==6.0.1
python-whois
pydub
pickledb
python-telegram-bot
pycryptodome
requests
SpeechRecognition
search_engine_parser
speedtest-cli
spotipy
sympy
tgcrypto
telegraph
unidecode
wget
yt-dlp
youtube-search
youtube-search-python
git+https://github.com/AsmSafone/SafoneAPI
git+https://github.com/ZoxxOP/AnanyaAPI
